.btn {
  background-color: black;
  color: white;
}
body {
  font-family: 'courier prime';
}
.jumbotron {
  color: black;
  background-color: linen;
}
body {
  background-color: linen;
  color: white;
}
.navbar-brand {
  color: white !important;
}
.navbar-default {
  background-color: black;
}
.nav.navbar-nav li a {
  color: white;
}

.special {
  color: black;
}
.project-head {
  text-align: center;
}
.title {
  text-align: center;
}
.about {
  margin-top: 75px;
}

.about-img {
  width: 41%;
  float: left;
  margin-right: 30px;
}
.about-text {
  font-size: 25px;
  color: black;
}
img {
  width: 100%;
}
.experience {
  color: black;
}
.row-1 {
  margin: 30px;
}
