.btn {
  background-color: black;
  color: white;
}
body {
  font-family: 'courier prime';
}
.jumbotron {
  color: black;
  background-color: linen;
}
body {
  background-color: linen;
  color: white;
}
.navbar-brand {
  color: white !important;
}
.navbar-default {
  background-color: black;
}
.nav.navbar-nav li a {
  color: white;
}
 img {
   width: 100%;
 }
  